body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background: rgb(165,190,252);
  background: linear-gradient(0deg, rgba(165,190,252,1) 0%, rgba(5,0,162,1) 100%);
  color: white;
  padding: 1em 0;
  text-align: left;
  height: 50px;
}
.ccfi {
  position: relative;
  margin: 20px;
}
.logo {
  width: 50px;
  height: auto;
  position: relative;
  bottom: 20px;
}
nav ul {
  position:fixed;
  top: 30px;
  right: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: inline-block; 
  transition: transform 0.3s ease; 
}

nav ul li a:hover {
  transform: scale(1.1);
}

main {
  padding: 2em;
}
.nash{
  position: fixed;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2em;
  margin: 20px;
  top: 95px;
  width: 730px;
  height: 500px;
}
.nash h1{
  margin-top: 0;
  text-align: center;
}
.nash p{
  position: relative;
  text-align: center;
  font-size: 15px;
  margin-top: -10px;
}
.perscontainer {
  left: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width:500px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
}

.perscontainer h1 {
  margin-top: 20px;
}

.perscontainer button {
  background-color: #007BFF;
  color: white;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  margin-top: 20px;
  height: 50px;
  width: 200px;
}

.perscontainer button:hover {
  background-color: #0056b3;
  width: 50%;
}

footer {
  background: rgb(5,0,162);
  background: linear-gradient(0deg, rgba(5,0,162,1) 0%, rgba(165,190,252,1) 100%);
  color: white;
  text-align: center;
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
