body {
    background-color: #000a1f;
}

h1{
    color: white;
}

.memberscontainer {
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.memberscontainer img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid gray;
    transition: all ease-in-out 0.5s;
}

.memberscontainer img:hover{
    width: 25%;
}